body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*LOGIN PAGE*/
#logo{
  margin-top:10px;
  margin-left:12rem;
}
#logo img{

width: 130px;
}

#login-option-nav{
  margin-top:10px;
  float: right;
  margin-right:16rem
}
.sign-btn{
  border:0px;
  padding:6px;
  padding-left:20px;
  padding-right:20px;
  background-color: transparent;
  color: #0073b1;
  border:1px solid #0073b1;
  font-weight: 600;
}
.sign-btn:hover{
  background-color: rgba(113, 207, 214, 0.466);
}
#login-option-nav a{
  color: grey;
  font-weight: 600;
}
#login-option-nav a:hover{
  color: grey;
  font-weight: 600;
  border-radius:4px;
  background-color:rgb(218, 218, 218);
}
#header-loginpage{
  margin-top: 8rem
}
#header-loginpage h1{
  margin-left:11rem;
  color:#0073b1;
  font-size:4rem; 
}

#header-loginpage #searchbar{
  margin-left: 11rem;
  margin-top:6rem;
  padding-top:0.8rem;
  padding-bottom:0.8rem;
  padding-left:2rem;
  width:450px;
  border-radius:3px;
  border:1px solid rgb(218, 218, 218);
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);
}
#login-img-header{
  border-radius:100%;
  overflow: hidden;
  max-width:550px;
  height: 550px;

}

/*Welcome PAGE*/
.signin-container{
  border:4px solid #00314b;
}
#signin-header{
  text-align: center;
  position: absolute;
  top:40%;
  left:50%;
  transform:translate(-50%, -50%)
}
#signin-header img{
    width:90px
}
#signin-header-form{
  margin-top:2rem
}
#signin-header-form h3{
  font-weight: 600;
  font-size:25px
}
#signin-header-form p{
  color:rgb(90, 90, 90);
}
#signin-header-form input{
  color: black;
  padding-top:0.8rem;
  padding-bottom: 0.8rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  width:340px
}
.confirm-btn{
  border:0px;
  padding:0.8rem;
  padding-left:20px;
  padding-right:20px;
  background-color: #0073b1;
  color: white;
  border:1px solid #0073b1;
  font-weight: 600;
  width:340px
}
#help-contact a{
  color:#0073b1;
  font-weight: 600;
}
#help-contact a:hover{
  color:#004b74;
}
#help-contact p{
  color:black
}
